.carousel-cell {
    width: 50%;
    height: 500px;
    margin-right: 10px;
    border-radius: 5px;
    transition: opacity .5s linear;
    background: grey;
    opacity: .5;
}

.carousel-cell:hover {
    opacity: 1;
}

.carousel {
    margin: 0px auto;
    margin-top: 10%;
}

.char1,
{
    transform: rotateX(45deg);
    transition: 1s transform;
}

.char1:hover,
{
    transform: rotateX(0deg);
}

img.selfie {
    width: 100%;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 1.5em;
}

h3 {
    font-family: 'Oswald', sans-serif;
    color: white;
    opacity: 1;
    display: inline-block;
    padding-right: 100%;
}

span {
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    margin: 10px auto;
    color: white;
}

article {
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
    margin: 10px auto;
    color: white;
}

.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
    opacity: 1;
}

.social {
    margin: 5px auto;
    width: 150px;
    padding-right: 50px;
    padding-left: 2%;
    display: inline-block;
}

.grid-item {
    width: 385px;
    display: inline-block;
}

.grid-item-width2 {
    display: inline-block;
    width: 250px;
}